$max-page-sections-content-width: 960px;

.page-sections {
    section {
        text-align: center;

        .section-content {
            width: $max-page-sections-content-width;
            max-width: 100%;
            margin: auto;
        }
    }
}

.page-section {
    &__bg-underlay {
        background-size: cover;
        background-position: center center;
        height: 650px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__heading {
        font-size: $font-size--page-section-heading--mobile;
        font-weight: 900;

        @include bp(min-width, $bp-xs-min) {
            font-size: $font-size--page-section-heading;
        }
    }

    &__subheading {
        font-size: $font-size--page-section-subheading--mobile;

        @include bp(min-width, $bp-xs-min) {
            font-size: $font-size--page-section-subheading;
        }
    }

    border-top: 1px solid #ddd;

    &:first-child {
        border-top: 0;
    }

    &--white {
        background-color: white;
    }

    &--light-grey {
        background-color: #F8F8F8;
    }

    &--green {
        background-color: $color--primary;
        color: white;
    }

    &--no-padding {
        padding-bottom: 0;
    }

    &--no-padding-bottom {
        padding-bottom: 0;
    }

    &--no-padding-top {
        padding-top: 0;
    }

    &--padding-top-small {
        padding-top: $s*3;
    }

    &.no-border-top {
        border-top: none;
    }

    .subheading {
        font-size: 18px;
        font-family: "Roboto", sans-serif;
    }

    .show-on-mobile {
        @include bp(min-width, $bp-xs-min) {
            display: none;
        }
    }

    .show-on-desktop {
        display: none;

        @include bp(min-width, $bp-xs-min) {
            display: block;
        }
    }
}